::selection {
    background-color: rgb(224, 71, 71);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 15%);
    font-family: Arial, sans-serif;
    color: white;
    font-size: 1rem;
    overflow-x: hidden;
}

header {
    display: inline-block;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: hsla(0, 0%, 11%, 0.8);
    backdrop-filter: blur(5px);
    padding: 0.6rem;
}

header img {
    max-width: 3.125rem;
    height: auto;
    vertical-align: middle;
    border-radius: 0.5rem;
}

header nav {
    display: inline-block;
    margin-left: 1.2rem;
}

header nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-left: 1.2rem;
    transition: 0.4s;
}

header nav a:hover {
    color: hsl(0, 0%, 79%);
}

a {
    text-decoration: none;
    color: hsl(203, 79%, 69%);
    font-weight: bold;

}

main {
    padding: 1.8rem;
}

h1, h2 {
	display: inline;
	font-size: 1.6rem;
}

.h {
    display: flex;
    align-items: center;
}

.h:hover a[aria-hidden] {
	display: inline;
	color: hsl(203, 79%, 69%);
}

.h a[aria-hidden] {
	display: none;
    margin-left: 0.3rem;
}

.p {
    margin-left: 0.6rem;
    max-width: 45rem;
}

#project-img {
    max-width: 26rem;
}